<h2>Editar Logro</h2>

<%= form_for(@logro, html: { method: :put }) do |l| %>

<div class="field">
  <%= l.label :nombre %><br />
  <%= l.text_field :nombre, autofocus: true %>
</div>

<div class="field">
  <%= l.label :puntaje %><br />
  <%= l.number_field :puntaje, autofocus: true %>
</div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
