<table class="table">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Descrpcion</th>
      <th>Creada</th>
      <th>Vencimiento</th>
      <th>Abrir</th>
    </tr>
  </thead>
  <tbody>
    <% @gauchadas.each do |gauchada| %>
    <tr>
    <%u=Usuario.find(gauchada.usuario_id)%>
    <td><%= u.nombre %></td>
    <td><%= gauchada.descripcion %></td>
    <td><%= l(gauchada.creacion, format: '%d de %B de %Y') %></td>
    <td><%= gauchada.vencimiento.strftime("%d de %B de %Y") %></td>
    <td><%= link_to 'Ver', gauchada_path(gauchada), class: 'btn btn-info btn-xs'%></button></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Volver', :back, class: 'btn btn-info'%>
