<%= bootstrap_form_for(@compra) do |c| %>
<div class="field">
	<%= c.hidden_field :usuario_id, :value => current_usuario.id%>
</div>

<div class="field">
	<%= c.hidden_field :precio_total, :value => 0%>
</div>

<h3>Precio unitario
	<span class="label label-default"><%= precio_u = Usuario.find(10).puntaje%>$</span>
</h3>
<div class="field">
	<%= c.hidden_field :precio_unitario, :value => precio_u%>
</div>

<div class="field">
	<!-- <%= label_tag :cantidad_puntos, "Cantidad de puntos: " %> -->
	<%= c.number_field :cantidad_puntos, min: 1, :value => 1, autofocus: true,required: true %>
</div>

<div class="field">
	<%= c.text_field :nombre_t_tarjeta,required: true, autofocus: true %>
</div>

<div class="field">
	<%= c.text_field :numero_tarjeta, :pattern =>"16[0-9]", placeholder:'5555555555555555', required: true, autofocus: true %>
</div>

<div class="field">
	<%= c.number_field :cs_tarjeta, placeholder:'123', required: true, autofocus: true %>
</div>

<div class="field">
	<%= c.date_select :vencimieto_tarjeta, {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'],:order => [:month, :year], :prompt => true, :start_year =>
	Time.now.year, :end_year => Time.now.year+5, :start_month => Time.now.month}, {required: true} %>
</div>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	Comprar
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel"></h4>
			</div>
			<div class="modal-body">
				<!-- <div>
					<label for="inputCard" class="col-form-label">Numero de tarjeta</label>
					<div>
						<input type="tel" class="form-control" id="inputCard" placeholder="555555555" required="true">
					</div>
				</div>
				<div>
					<label for="inputCard" class="col-form-label">Numero de seguridad</label>
					<div>
						<input type="tel" class="form-control" id="inputCard" placeholder="123" required="true">
					</div>
				</div> -->
				<h2>Desea confirmar su compra?</h2>
			</div>
			<div class="modal-footer">
				<div class="actions">
					<%= c.submit "Confirmar" %>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">No, mejor no</button>
				</div>
			</div>
		</div>
	</div>
</div>

<% end %>

<br>
<br>
<%= link_to "Volver", :back %>
