	<h1> Crear compra </h1>

<% precio_u = Usuario.find(10).puntaje%>
  <%= form_for(@compra) do |c| %>


	<div class="field">
	  <%= c.hidden_field :precio_unitario, :value => precio_u%>
	</div>

	<div class="field">
    <%= c.hidden_field :precio_total, :value => :precio_unitario * :cantidad_puntos %>
  </div>
  <div class="field">
    <%= c.hidden_field :usuario_id, :value => current_usuario.id%>
  </div>

  <div class="field">
    <%= c.label :cantidad_puntos %><br />
		<%= c.number_field :cantidad_puntos, min: 1, default:1, autofocus: true,required: true %>
  </div>

    <div class="actions">
      <%= c.submit "Crear" %>
    </div>
  <% end %>

  <%= link_to "Volver", :back %>
