<%= bootstrap_form_for(@compra) do |c| %>
<div class="field">
	<%= c.hidden_field :usuario_id, :value => current_usuario.id%>
</div>

<div class="field">
	<%= c.hidden_field :precio_total, :value => 0%>
</div>

<h3>Precio unitario
	<span class="label label-default"><%= precio_u = Usuario.find(10).puntaje%>$</span>
</h3>
<div class="field">
	<%= c.hidden_field :precio_unitario, :value => precio_u%>
</div>

<div class="field">
	<%= c.number_field :cantidad_puntos, min: 1, :value => 1, autofocus: true,required: true %>
</div>

<div class="field">
	<label for="inputCard" class="col-form-label">Nombre completo titular:</label>
	<input type="text" class="form-control" placeholder="Nombre completo titular" required="true">
</div>
<br>
<div class="field">
	<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
	<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css"/>

	<!--Font Awesome (added because you use icons in your prepend/append)-->
	<link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css"/>

	<!-- Inline CSS based on choices in "Settings" tab -->
	<style>
		.bootstrap-iso .formden_header h2,
		.bootstrap-iso .formden_header p,
		.bootstrap-iso form {
			font-family: Arial, Helvetica, sans-serif;
			color: black;
		}
		.bootstrap-iso form button,
		.bootstrap-iso form button:hover {
			color: white !important;
		}
		.asteriskField {
			color: red;
		}
	</style>

	<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
	<div class="bootstrap-iso">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<form method="post">
						<div class="form-group ">
							<label class="control-label " for="date">
								Date
							</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-calendar"></i>
								</div>
								<input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
							</div>
						</div>
						<div class="form-group">
							<div>
								<button class="btn btn-primary " name="submit" type="submit">
									Submit
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Extra JavaScript/CSS added manually in "Settings" tab -->
	<!-- Include jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- Include Date Range Picker -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

	<script>
		$(document).ready(function () {
			var date_input = $('input[name="date"]'); //our date input has the name "date"
			var container = $('.bootstrap-iso form').length > 0
				? $('.bootstrap-iso form').parent()
				: "body";
			date_input.datepicker({format: 'mm/dd/yyyy', container: container, todayHighlight: true, autoclose: true})
		})
	</script>
</div>

<div>
	<label for="inputCard" class="col-form-label">Numero de tarjeta:</label>
	<input type="tel" class="form-control" id="inputCard" placeholder="555555555" required="true">
</div>
<br>
<div>
	<label for="inputCard" class="col-form-label">Numero de seguridad:</label>
	<input type="tel" class="form-control" id="inputCard" placeholder="123" required="true">
</div>

<br><br>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	Comprar
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel"></h4>
			</div>
			<div class="modal-body">
				<!-- <div>
					<label for="inputCard" class="col-form-label">Numero de tarjeta</label>
					<div>
						<input type="tel" class="form-control" id="inputCard" placeholder="555555555" required="true">
					</div>
				</div>
				<div>
					<label for="inputCard" class="col-form-label">Numero de seguridad</label>
					<div>
						<input type="tel" class="form-control" id="inputCard" placeholder="123" required="true">
					</div>
				</div> -->
				<h2>Desea confirmar su compra?</h2>
			</div>
			<div class="modal-footer">
				<div class="actions">
					<%= c.submit "Confirmar" %>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">No, mejor no</button>
				</div>
			</div>
		</div>
	</div>
</div>

<% end %>

<br>
<br>
<%= link_to "Volver", :back %>
