	<h1> Crear compra </h1>

<% precio_u = Usuario.find(10).puntaje%>
  <%= form_for(@compra) do |c| %>
  <div class="field">
    <%= c.hidden_field :usuario_id, :value => current_usuario.id%>
  </div>

  <div class="field">
    <%= c.label :cantidad_puntos %><br />
		<%= c.number_field :cantidad_puntos, min: 1, default:1, autofocus: true,required: true %>
  </div>

	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		Comprar
	</button>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title" id="myModalLabel">Confirmar compra</h4>
	      </div>
	      <div class="modal-body">
	        Precio total
					Tarjeta de credito
					Codigo de seguridad
	      </div>
	      <div class="modal-footer">
					<div class="actions">
			      <%= c.submit "Crear" %>
			    </div>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, mejor no</button>
	      </div>
	    </div>
	  </div>
	</div>

  <% end %>

  <%= link_to "Volver", :back %>
