	<h1> Crear compra </h1>


  <%= form_for(@compra) do |c| %>


	<div class="field">
	  <%= c.hidden_field :precio_unitario, :value => Usuario.find(10).puntaje%>
	</div>

	<div class="field">
    <%= c.hidden_field :precio_total, :value => precio_unitario * cantidad_puntos %>
  </div>
  <div class="field">
    <%= c.hidden_field :id_usuario, :value => current_usuario.id%>
  </div>

  <div class="field">
    <%= c.label :cantidad_puntos %><br />
		<%= c.number_field :cantidad_puntos, min: 1, default:1, autofocus: true,required: true %>
  </div>

    <div class="actions">
      <%= c.submit "Crear" %>
    </div>
  <% end %>

  <%= link_to "Volver", :back %>
