<h1>PERFIL</h1>
Nombre:<p><i><%=@usuario.nombre %></i></p>
Edad:<p><i><%=@usuario.edad %></i></p>
Localidad:<p><i><%=@usuario.localidad%></i></p>
Puntaje:<p><i><%=@usuario.puntaje%></i></p>
<%= link_to 'Volver', :back, class: 'btn btn-info'%>
