<%if !current_usuario.nil?%>
  <%if current_usuario!=gauchada.usuario%>
    <%@comentario=Comentario.new%>
    <%= bootstrap_form_for(@comentario) do |c| %>

      <div class="field">
        <%= c.text_area :contenido,required: true, autofocus: true %>
      </div>

      <div class="field">
        <%= c.hidden_field :usuario_id, :value => current_usuario.id%>
      </div>

      <div class="field">
        <%= c.hidden_field :gauchada_id, :value => gauchada.id%>
      </div>

      <div class="field">
        <%= c.hidden_field :pregunta, :value => true%>
      </div>

      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <i class="icon-ok icon-white"></i> Preguntar!
        <% end %>
    <% end %>
  <% else %>
    <%flash[:alert]="No puede hacer una pregunta sobre su propia gauchada!"%>
    <%return @gauchada%>
  <% end %>
<% end %>
