<h2>Editar Gauchada</h2>

<%= bootstrap_form_for(@gauchada) do |g| %>

<div class="field">
    <%= g.text_field :nombre,required: true, autofocus: true %>
</div>

<div class="field">
    <%= g.text_field :descripcion,required: true, autofocus: true %>
</div>

<div class="field">
    <%= g.text_field :localidad,required: true, autofocus: true %>
</div>

<div class="field">
  <!--  <%= g.date_select :vencimiento, {:order => [:day, :month, :year], :prompt => true, :start_year => Time.now.year, :end_year => Time.now.year+5, :start_month => Time.now.month, :start_day =>Time.now.day},
     {required: true} %>-->
     <%= g.input :date, as: :bootstrap_datepicker %>
</div>

<div class="field">
    <%= g.hidden_field :usuario_id, :value => current_usuario.id%>
</div>

<div class="actions">
    <%= g.submit "Actualizar" %>
</div>
<% end %>

<br>
<br>
<%= link_to "Volver", :back %>
