<h2>Editar Gauchada</h2>





<%= form_for(@gauchada) do |g| %>

<div class="field">
  <%= g.label :nombre %><br />
  <%= g.text_field :nombre,required: true, autofocus: true %>
</div>

<div class="field">
  <%= g.label :descripcion %><br />
  <%= g.text_field :descripcion,required: true, autofocus: true %>
</div>

<div class="field">
  <%= g.label :localidad %><br />
  <%= g.text_field :localidad,required: true, autofocus: true %>
</div>

<div class="field">
  <%= g.label :vencimiento %><br />
  <%= g.date_select :vencimiento,required: true, autofocus: true %>
</div>

<script type="text/javascript">
  $('.datepicker').datepicker();
</script>

<div class="field">
  <%= g.hidden_field :usuario_id, :value => current_usuario.id%>
</div>


  <div class="actions">
    <%= g.submit "Actualizar" %>
  </div>
<% end %>

<%= link_to "Volver", :back %>
