<h2>Editar Gauchada</h2>
<div class= "panel-body">
<%= bootstrap_form_for(@gauchada) do |g| %>

<div class="field">
    <%= g.text_field :nombre,required: true, autofocus: true %>
</div>

<div class="field">
    <%= g.text_field :descripcion,required: true, autofocus: true %>
</div>

<div class="field">
    <%= g.text_field :localidad,required: true, autofocus: true %>
</div>

<div class="field">
<<<<<<< HEAD
    <%= g.date_select :vencimiento, {:order => [:day, :month, :year], :prompt => true, :start_month => Time.now.month, :end_year => Time.now.year+5},
=======
  <%= g.date_select :vencimiento, {:order => [:day, :month, :year], :prompt => true, :start_year => Time.now.year, :end_year => Time.now.year+5, :start_month => Time.now.month, :start_day =>Time.now.day},
>>>>>>> fa414d5af378979bd5b4c35695ff25701dc6b9e0
     {required: true} %>
</div>

<div class="field">
    <%= g.hidden_field :usuario_id, :value => current_usuario.id%>
</div>

<div class="actions">
    <%= g.submit "Actualizar" %>
</div>
<% end %>
</div>
<br>
<br>
<%= link_to "Volver", :back %>
