
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Usuario</th>
      <th>Descrpcion</th>
      <th>Creada</th>
      <th>Vencimiento</th>
      <th>Abrir</th>
    </tr>
  </thead>
  <tbody>
    <% Gauchada.all.each do |gauchada| %>
    <tr>
    <th scope="row">1</th>
    <%u=Usuario.find(gauchada.id_creador)%>
    <td><%= u.nombre %></td>
    <td><%= gauchada.descripcion %></td>
    <td><%= gauchada.creacion %></td>
    <td><%= gauchada.vencimiento %></td>
    <td><%= link_to 'Ver', gauchada_path(gauchada), class: 'btn btn-info btn-xs'%></button></td>
    </tr>
    <% end %>
  </tbody>
</table>
