<h2>Crear Gauchada</h2>





<%= bootstrap_form_for(@gauchada) do |g| %>

<div class="field">
  <%= g.text_field :nombre,required: true, autofocus: true %>
</div>

<div class="field">
  <!-- <%= g.text_field :descripcion,required: true, autofocus: true %> -->
  <%= g.text_area :descripcion,required: true, autofocus: true %>
</div>

<div class="field">
  <%= g.text_field :localidad,required: true, autofocus: true %>
</div>

<div class="field">
  <%= g.date_select :vencimiento, {:use_month_names => ['Enero', 'Febrero',
    'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre',
    'Octubre', 'Noviembre','Diciembre'],:order => [:day, :month, :year],
    :prompt => true, :start_year => Time.now.year, :end_year => Time.now.year+5,
     :start_month => Time.now.month, :start_day => Time.now.day }, {required: true} %>
</div>

<div class="field">
  <%= g.hidden_field :usuario_id, :value => current_usuario.id%>
</div>

<div class="field">
  <%= g.hidden_field :creacion, :value => Time.now%>
</div>

<div class="field">
  <%= g.label :Imagen %><br />
  <%= g.text_field :imagen, autofocus: true%>
</div>


  <div class="actions">
    <%= g.submit "Crear" %>
  </div>
<% end %>

<%= link_to "Volver", :back %>
