<h1>Postulantes</h1>
<p>Estos son los usuarios que se han postulado para resolver tu gauchada</p>
<% @gauchada.postulantes.each do |p| %>
<!-- <div class="col-lg-3 col-md-4 col-xs-6 thumb">
  <a class="thumbnail">
    <img class="img-responsive" src="<%=Usuario.find(p.usuario_id).imagen%>" alt="">
    <div class="text-under-thumbnail">
      <h4>Nombre: <%=Usuario.find(p.usuario_id).nombre%></h4>
      <p>Razon: <%=p.razon%></p>
      <%= link_to '<i class="glyphicon glyphicon-ok"></i>'.html_safe, aceptar_postulante_path(p), class: 'btn btn-success'%>
    </div>
  </a>
</div> -->
<div class="col-lg-4 col-md-4 col-xs-6 thumb">
  <a class="thumbnail">
    <img class="img-responsive" style="width: 200px; height: 200px" src="<%=Usuario.find(p.usuario_id).imagen%>" alt="">
  </a>
  <div class = "caption" style="width: 200px; height: 200px">
      <h4>Nombre: <%=Usuario.find(p.usuario_id).nombre%></h4>
      <p>Razon: <%=p.razon%></p>
      </br>
      </br>
      <%= link_to '<i class="glyphicon glyphicon-thumbs-up"></i>'.html_safe, aceptar_postulante_path(p), class: 'btn btn-success'%>
  </div>
</div>


<%end%>
