<h1>Gauchada</h1>
<%if(!@gauchada.postulante_ids.include?(current_usuario.id))%>
   <%= link_to 'Postularme', postulante_path ,method: post, class: 'btn btn-success'%>
<%else%>
  <!--<%= link_to 'Postularme', postulante_path ,disabled: !department.deletable?,class: 'btn btn-success'%>-->
  <%= link_to 'Postularme', postulante_path ,disabled: true,class: 'btn btn-success'%>
<% end %>
</br>
Nombre:<p><i><%=@gauchada.nombre %></i></p>
Descripcion:<p><i><%=@gauchada.descripcion %></i></p>
Solicitante:<p><i><%=Usuario.find(@gauchada.usuario_id).nombre%></i></p>
Localidad:<p><i><%=@gauchada.localidad %></i></p>
Fecha de creacion:<p><i><%= l(@gauchada.creacion, format: '%d de %B de %Y') %></i></p>
Fecha de vencimiento<p><i><%= l(@gauchada.vencimiento, format: '%d de %B de %Y') %></i></p>
<%if current_usuario.id==@gauchada.usuario_id%>
   <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_gauchada_path(@gauchada), class: 'btn btn-warning'%>
<% end %>
<%= link_to 'Volver', :back, class: 'btn btn-info'%>
