<h1>Gauchada</h1>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
<%if(!@gauchada.postulante_ids.include?(current_usuario.id))%>
   <!--<%= link_to 'Postularme', postulantes_path ,:method=> :post, class: 'btn btn-success'%>-->
   <%= link_to 'Postularme', postulacion_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>
<%else%>
  <!--<%= link_to 'Postularme', postulante_path ,disabled: !department.deletable?,class: 'btn btn-success'%>-->
  <%= link_to 'Postularme', postulante_path ,disabled: true,class: 'btn btn-success'%>
<% end %>
</br>
Nombre:<p><i><%=@gauchada.nombre %></i></p>
Descripcion:<p><i><%=@gauchada.descripcion %></i></p>
Solicitante:<p><i><%=Usuario.find(@gauchada.usuario_id).nombre%></i></p>
Localidad:<p><i><%=@gauchada.localidad %></i></p>
Fecha de creacion:<p><i><%= l(@gauchada.creacion, format: '%d de %B de %Y') %></i></p>
Fecha de vencimiento<p><i><%= l(@gauchada.vencimiento, format: '%d de %B de %Y') %></i></p>
<%if current_usuario.id==@gauchada.usuario_id%>
   <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_gauchada_path(@gauchada), class: 'btn btn-warning'%>
<% end %>
<%= link_to 'Volver', :back, class: 'btn btn-info'%>
