<h1>Gauchada</h1>


<%if(!@gauchada.postulante_ids.include?(current_usuario.id)&&@gauchada.usuario_id!=current_usuario.id)%>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Postularme
</button>
<% end %>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Postulacion</h4>
      </div>
      <div class="modal-body">
        <%= render 'form_postulacion', :post => @gauchada %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, mejor no</button>
      </div>
    </div>
  </div>
</div>

</br>
Nombre:<p><i><%=@gauchada.nombre %></i></p>
Descripcion:<p><i><%=@gauchada.descripcion %></i></p>
Solicitante:<p><i><%=Usuario.find(@gauchada.usuario_id).nombre%></i></p>
Localidad:<p><i><%=@gauchada.localidad %></i></p>
Fecha de creacion:<p><i><%= l(@gauchada.creacion, format: '%d de %B de %Y') %></i></p>
Fecha de vencimiento<p><i><%= l(@gauchada.vencimiento, format: '%d de %B de %Y') %></i></p>
<%if current_usuario.id==@gauchada.usuario_id%>
   <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_gauchada_path(@gauchada), class: 'btn btn-warning'%>
<% end %>
<%= link_to 'Volver', :back, class: 'btn btn-info'%>
