<h2>Editar Logro</h2>

<%= bootstrap_form_for(@logro) do |l| %>

<div class="field">
  <!-- <%= l.label :nombre %><br /> -->
  <%= l.text_field :nombre,required: true, autofocus: true %>
</div>

<div class="field">
  <!-- <%= l.label :puntaje %><br /> -->
  <%= l.number_field :puntaje,min: 0,required: true, autofocus: true %>
</div>

<div class="field">
  <%= l.hidden_field :id, :value => params[:id]%>
</div>

  <div class="actions">
    <%= l.submit "Actualizar" %>
  </div>
<% end %>

<%= link_to "Volver", :back %>
