<h2>Crear Logro</h2>

<%= form_for(@logro) do |l| %>

<div class="field">
  <%= l.label :nombre %><br />
  <%= l.text_field :nombre,required: true, autofocus: true %>
</div>

<div class="field">
  <%= l.label :puntaje %><br />
  <%= l.number_field :puntaje,min: 0,required: true, autofocus: true %>
</div>


<!--  <div class="actions">
    <%= l.submit "Crear" %>
  </div>
<% end %> -->
<%= button_to '<i class="glyphicon glyphicon-ok">Crear</i>'.html_safe, l, method: :put, class: 'btn btn-primary'%>
<%= link_to 'Volver'.html_safe, :back, class: 'btn btn-primary'%>
<!--<%= link_to "Volver", :back %>-->
