<h2>Crear Logro</h2>

<%= form_for(@logro) do |l| %>

<div class="field">
  <%= l.label :nombre %><br />
  <%= l.text_field :nombre,required: true, autofocus: true %>
</div>

<div class="field">
  <%= l.label :puntaje %><br />
  <%= l.number_field :puntaje,min: 0,required: true, autofocus: true %>
</div>


<!--  <div class="actions">
    <%= l.submit "Crear" %>
  </div>
<% end %> -->
<%= button_to 'Crear', l, method: :post, class: 'btn btn-primary'%>
<%= link_to 'Volver', :back, class: 'btn btn-primary'%>
<!--<%= link_to "Volver", :back %>-->
