<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

    </div>
      <% if usuario_signed_in? %>
      <div class="dropdown">
        <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sesion <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
          <%= link_to 'Mi Perfil', usuario_path%>
          <%= link_to 'Editar Perfil', edit_usuario_registration_path%>
          <%= link_to "Logout", destroy_usuario_session_path, method: :delete%>
        </ul>
      </li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>

          <%= link_to 'Mi Perfil', usuario_path%>
          <%= link_to 'Editar Perfil', edit_usuario_registration_path%>
          <%= link_to "Logout", destroy_usuario_session_path, method: :delete%>
      </div>
        Logged in as <strong><%= current_usuario.email %></strong>.
        | <%= link_to 'Mi Perfil', usuario_path, :class => 'navbar-link' %> |
        <%= link_to 'Editar Perfil', edit_usuario_registration_path, :class => 'navbar-link' %> |
        <%if current_usuario!=nil%>
        <%if current_usuario.admin%>
           <%= link_to 'Menu Logros', logros_path, class: 'navbar-link'%> |
        <% end %>
        <% end %>
        <%= link_to "Logout", destroy_usuario_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Registrarse", new_usuario_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_usuario_session_path, :class => 'navbar-link'  %>
      <% end %>
    </ul>
  </div>
</nav>
