<!DOCTYPE html>
<html>
<head>
  <title>UnaGauchadaGrupo9</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>

  <div id="main-container" class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
          <% if flash[:notice] %>
            <div class="alert alert-info"> <%= flash[:notice] %> </div>
          <% end %>
          <% if flash[:alert] %>
            <div class="alert alert-danger"> <%= flash[:alert] %> </div>
          <% end %>
          <% if flash[:succes] %>
            <div class="alert alert-succes"> <%= flash[:succes] %> </div>
          <% end %>
          <% if flash[:error] %>
            <div class="alert alert-warning"> <%= flash[:error] %> </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <h3>UnaGauchada</h3>
          <%= link_to root_path, class: 'image' do %>
            <%= image_tag "logo.png", title: "Logo", class: "logo" %>
          <% end %>
          </br>
          </br>
          </br>
          <%= form_tag search_main_path, method: :get do %>
          <div class="form-group">
            <%= text_field_tag :palabra, params[:concept], class: "form-control", placeholder: "Palabra Clave" %>
          </div>
          <div class="form-group">
            <%= text_field_tag :localidad, params[:concept], class: "form-control", placeholder: "Localidad" %>
          </div>
          <!--<div class="form-group">
            <%= select_tag :category_id, options_from_collection_for_select(Category.all, "id", "name", params[:category_id]), prompt: "Categoría", class: "form-control" %>
          </div>-->
          <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
          <% end %>

          <%if current_usuario!=nil%>
          <%if current_usuario.admin%>
             <%= link_to 'Menu Logros', logros_path, class: 'btn btn-info'%>
          <% end %>
          <% end %>
        </div>
        <div class="col-xs-9">
          <%= yield %>
        </div>
      </div>
  </div>
  <%= render 'layouts/footer' %>

</body>
</html>
