<!DOCTYPE html>
<html lang="spa" xml:lang="spa" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>UnaGauchadaGrupo9</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>

  <div id="main-container" class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
          <% if flash[:notice] %>
            <div class="alert alert-info"> <%= flash[:notice] %> </div>
          <% end %>
          <% if flash[:alert] %>
            <div class="alert alert-danger"> <%= flash[:alert] %> </div>
          <% end %>
          <% if flash[:succes] %>
            <div class="alert alert-succes"> <%= flash[:succes] %> </div>
          <% end %>
          <% if flash[:error] %>
            <div class="alert alert-warning"> <%= flash[:error] %> </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <%= link_to root_path, class: 'image' do %>
            <%= image_tag "logo.png", title: "Logo", class: "logo" %>
          <% end %>
          <h3>UnaGauchada</h3>
        </div>
        <div class="col-xs-9">
          <%= yield %>
        </div>
      </div>
  </div>
  <%= render 'layouts/footer' %>

</body>
</html>
